## EDA(Exploratory Data Analytics)

1. Load Dataset

2. Clean the data(find out missing values,duplicates,types)

3. Treatment of outliers

4. Univariate and Bivariate and Multivariate analysis

5. Insights

### Outlier:
    A data point that is significantly different from other observations in a dataset.

### How outliers come?
    1. Measurement erros.
    2. Data Entry mistakes

### why they are important?
    1. They can be errors 
    2. They effect the data analysis

### How to identify the outliers?
    1. Statistical Methods
    ---> IQR(Inter Quartile Range).
    ---> Z-score.

    2. Visualization Techniques
    ---> Box plots.
    ---> Scatter Plots.
    ---> Histograms.

### Univariate analysis
    A method that analysis a singlen variable to describe its characteristics and finding patterns and summarize the data.

    It invloves only one variable.

### Bivariate analysis
    It will give the relationship btw two variables.It helps to find if there is an co-relation ,association or connection btw 2 v  ariables.

    It invloves two variables(x & y).

### Multivariate Analysis
    It understand how multiple factors interact and influence each other. 

    It invloves more than 2 variables.

    Eg: How our age,income and education level together influence the purchasing behaviour.

## ETL

## ELT

## EDA : < DataSet >
1. Load & Overview

2. Cleaning (missing,dupes,dtypes)

3. Uni, Bi, & Multi analysis

4. Outlier - IQR

5. Feature Engineering

6. Key Insights

## Feature Engineering :
    F.E is the process of turning raw data into useful features, that helps to improve the performance of machine learning models

In [3]:
import sys
print(sys.executable)

c:\Users\HARSHA VARDHAN\anaconda3\python.exe

In [4]:
import pandas as pd

In [5]:
print("hello")

hello

In [6]:
print("Hello from Conda environment!")

Hello from Conda environment!

In [7]:
print("hello")

hello

In [8]:
df=pd.read_csv(r"C:\DataAnalysis\train_and_test2.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Passengerid  1309 non-null   int64
 1   Age          1309 non-null   float64
 2   Fare         1309 non-null   float64
 3   Sex          1309 non-null   int64
 4   sibsp        1309 non-null   int64
 5   zero         1309 non-null   int64
 6   zero.1       1309 non-null   int64
 7   zero.2       1309 non-null   int64
 8   zero.3       1309 non-null   int64
 9   zero.4       1309 non-null   int64
 10  zero.5       1309 non-null   int64
 11  zero.6       1309 non-null   int64
 12  Parch        1309 non-null   int64
 13  zero.7       1309 non-null   int64
 14  zero.8       1309 non-null   int64
 15  zero.9       1309 non-null   int64
 16  zero.10      1309 non-null   int64
 17  zero.11      1309 non-null   int64
 18  zero.12      1309 non-null   int64
 19  zero.13      1309 non-null   int64
 20  zero.14      1309 non-null   int64
 21  Pclass       1309 non-null   int64
 22  zero.15      1309 non-null   int64
 23  zero.16      1309 non-null   int64
 24  Embarked     1307 non-null   float64
 25  zero.17      1309 non-null   int64
 26  zero.18      1309 non-null   int64
 27  2urvived     1309 non-null   int64
dtypes: float64(3), int64(25)
memory usage: 286.5 KB